* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: MuseoSans, sans-serif;
}

.container {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px;
  background: url(../img/promo_bg.png) center center/cover no-repeat;
  color: #fff;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}

.promo__header {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.promo__subheader {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 17px;
}

.promo__icons {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 425px;
}

.promo__icon {
  width: 108px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__link {
  margin-top: 18px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.promo__link a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__official {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.header__official span {
  margin-top: 5px;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__phone {
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.button {
  width: 150px;
  height: 30px;
  background-color: #c70101;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button_main {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}

.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

.button_catalog {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.advantages {
  padding: 70px 0 78px;
  text-align: center;
}

.advantages__wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  width: 247px;
}

.advantages__item img {
  width: 70px;
}

.advantages__subtitle {
  margin-top: 38px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #0d0d0d;
}

.advantages__content {
  margin-top: 26px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

.advantages__content a {
  color: #c70101;
  text-transform: uppercase;
  text-decoration: underline;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  text-transform: uppercase;
  line-height: 1.2;
}

.title_consultation {
  color: #fff;
}

.title_catalog {
  text-align: center;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px;
  background: url(../img/consultation_bg.png) center center/cover no-repeat;
}

.consultation__descr {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-top: 80px;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.feed-form input {
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
}

.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}

.carousel__slider {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.carousel .slide_prev,
.carousel .slide_right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

.carousel .slide_prev img,
.carousel .slide_right img {
  width: 31px;
  height: 50px;
}

.carousel .slide_prev {
  left: -66px;
}

.carousel .slide_right {
  right: -66px;
}

.carousel .tns-item img {
  display: block;
  margin: 0 auto;
}

.catalog {
  padding-bottom: 100px;
}

.catalog__tabs {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6b6b6b;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
  border: none;
}

.catalog__tab div {
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg);
}

.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}

.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px;
  overflow: hidden;
  margin-bottom: 20px;
}

.catalog-item__img {
  display: block;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
}

.catalog-item__subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
}

.catalog-item__descr {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #0d0d0d;
  text-align: center;
}

.catalog-item__link {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #c70101;
  text-align: center;
}

.catalog-item__link:hover {
  color: #c70101;
}

.catalog-item__back {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #c70101;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.catalog-item hr {
  margin: 19px 0 21px;
  height: 1px;
  background-color: #e8e8e8;
}

.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item__old-price {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  text-decoration: line-through;
}

.catalog-item__price {
  font-size: 20px;
  font-weight: 700;
  color: #050505;
  margin-top: 9px;
}

.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}

.catalog-item__content {
  margin-right: 0px;
  width: 50%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__content_active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}

.catalog-item__list {
  margin-left: 20px;
  width: 50%;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 20px;
  padding-left: 19px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
}

.catalog-item__list li {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #555555;
  margin-bottom: 20px;
  position: relative;
}

.catalog-item__list li::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 7px;
  width: 5px;
  height: 5px;
  background-color: #c70101;
}

@media (max-width: 850px) {
  .header__logo {
    width: 200px;
  }
}

@media (max-width: 840px) {
  .promo__header {
    font-size: 38px;
    line-height: 1.3;
  }

  .promo__icons {
    width: 400px;
  }
}

@media (max-width: 780px) {
  .advantages {
    padding-bottom: 40px;
  }

  .advantages__wrapper {
    margin-top: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__item {
    width: 45%;
    margin-bottom: 30px;
  }

  .advantages__item img {
    width: 50px;
  }

  .advantages__subtitle {
    margin-top: 20px;
  }

  .advantages__content {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .consultation {
    min-height: 660px;
    padding: 90px 0 80px;
  }

  .consultation__descr {
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__icons {
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 620px) {
  .header__official {
    display: none;
  }

  .header__phone {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .advantages__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item {
    width: 250px;
  }
}

@media (max-width: 529px) {
  .promo__header {
    font-size: 32px;
    text-align: center;
  }

  .promo__subheader {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .consultation {
    min-height: 640px;
    padding: 70px 0 60px;
  }

  .consultation__descr {
    margin-top: 40px;
  }
}

@media (max-width: 415px) {
  .promo {
    min-height: 568px;
    padding-bottom: 20px;
  }

  .promo__wrapper {
    margin-top: 50px;
  }

  .promo__header {
    font-size: 28px;
  }

  .promo__subheader {
    font-size: 16px;
  }

  .promo__icon img {
    width: 30px;
    margin-bottom: 10px;
  }

  .promo__icons {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__logo {
    width: 150px;
  }

  .header__phone {
    font-size: 14px;
  }

  .button {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }

  .button_main {
    width: 280px;
    height: 50px;
    font-size: 16px;
  }

  .button_submit {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }
}